<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Vue.js sample</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body style="text-align: center;">
	<h2>숫자 버튼 만들기와 클릭 이벤트 처리</h2>

	<div id="app">
		<button v-for="n in 10" @click="buttons(n)">{{n}}</button><hr>
		<img v-if="mySrc" :src="mySrc" style="width: 300px;">
	</div>

	<script>
		const { createApp } = Vue;
			createApp({
				data() {
					return {
						mySrc:""
					}
				},
				methods:{
					buttons:function(num){
						this.mySrc="images/"+num+".jpg";
					}
				}
			}).mount('#app');
	</script>
</body>

</html>